
/* Grid */
.grid-container {
    margin: 4rem 4rem;
    padding: 5rem 0;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(90, 90, 90);
    border-radius: 4px;
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 5rem 5rem 5rem 5rem;
}

.triangle{
    -webkit-transition: 2s;
    transition: 5s;
}

.rectangle{
    -webkit-transition: 2s;
    transition: 5s;
}


.triangle1{
    width: 0;
    height: 0;
    border-top: 100px solid #A9A9A9;
    border-right: 100px solid transparent;
    grid-column: 1 / 1;
    grid-row: 1 / 2;
}
.triangle1:hover{
    border-top: 100px solid blue;
    transform: rotate(720deg);
    -ms-transform: rotate(762deg);
    -webkit-transform: rotate(720deg);
}

.triangle2{

    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width: 0;
    height: 0;
    border-top: 76px solid transparent;
    border-left: 69px solid #FDDA0D;
    border-bottom: 91px solid transparent;
    position: relative;
    bottom: 8px;
}


.triangle3{
    grid-column: 1/2;
    grid-row: 3 / 5;
    width: 0;
    height: 0;
    border-left: 62px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 92px solid #d1bea8;
    position: relative;
    right: 38px;
    left: 0px;
    top: 68px;
    bottom: 10px;
    margin-bottom: 10px;
}
.triangle3:hover{
    border-bottom: 92px solid blue;
    transform: rotate(720deg);
    -ms-transform: rotate(762deg);
    -webkit-transform: rotate(720deg); 
}
.triangle-left{
    -webkit-transition: 2s;
    transition: 5s;
}


.triangle14{
    width: 0;
    height: 0;
    border-top: 80px solid transparent;
    border-left: 62px solid #FDDA0D;
    border-bottom: 0px solid transparent;
    position: relative;
    grid-column: 1/2;
    grid-row: 3/4;
    bottom: 11px;
}
.triangle14:hover{
    border-left: 62px solid #7FFFD4; 
    transform: rotate(720deg);
    -ms-transform: rotate(762deg);
    -webkit-transform: rotate(720deg); 
}



.triangle4{
    grid-column: 1/4;
    grid-row: 1 / 5;
    width: 100px;
    height: 52px;
    border-top: 50px solid transparent;
    border-right: 50px solid black;
    border-bottom: 68px solid transparent;
    position: relative;
    top: 50px;
    bottom: 50px;
    right: 100;


}

.triangle5{
    width: 0px;
    height: 0px;
    border-top: 0px solid transparent;
    border-right: 64px solid black;
    border-bottom: 100px solid transparent;
    grid-column: 1/2;
    grid-row: 3/4;
    position: relative;
    top: 60px;
    bottom: 50px;
    left: 55px;
}

.square{
    -webkit-transition: 2s;
    transition: 5s;
}


.square1{
    height: 170px;
    width: 69px;
    background-color: black;
    grid-column: 1/2;
    grid-row: 1/5;
    position: relative;
    left: 50px;
    top: 50px;
}

.triangle6{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid black;
    border-bottom: 0px solid transparent;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    left: 50px;
}

.square2{
    height: 50px;
    width: 19px;
    background-color: black;
    grid-column: 1/2;
    grid-row: 1/1;
    position: relative;
    left: 100px;
    top: 0px;
}



.square3{
    height: 265px;
    width: 80px;
    background-color: #E34234;
    grid-column: 1/3;
    grid-row: 1/3;
    position: relative;
    left: 509px;
    top: 56;
}
.square3:hover{
    background-color: green;
    transform: rotate(720deg);
    -ms-transform: rotate(762deg);
    -webkit-transform: rotate(720deg);
}

.triangle7{
    width: 0;
    height: 0;
    border-top: 56px solid transparent;
    border-right: 80px solid #E34234;
    border-bottom: 0px solid transparent;
    grid-column: 1/3;
    grid-row: 1/2;
    left: 15px;
    position: relative;
    left: 509px;
    bottom: 59px;
    top: 0px;
}

.triangle8{
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 81px solid #555;
    border-bottom: 56px solid transparent;
    grid-row: 2 / 3;
    grid-column: 1/ 3;
    position: relative;
    left: 509px;
    bottom: 80px;;
}
.triangle8:hover{
    border-left: 81px solid #EE82EE;
    transform: rotate(720deg);
    -ms-transform: rotate(762deg);
    -webkit-transform: rotate(720deg);
}

.triangle9{
    width: 50px;
    height: 0px;
    border-top: 150px solid transparent;
    border-right: 390px solid #E34234;
    border-bottom: 115px solid transparent;
    grid-row: 2 / 3;
    grid-column: 1/ 3;
    position: relative;
    left: 69px;
    bottom: 24px;
}
.triangle9:hover{
    width: 300px;
    height: 300px;
    transform: rotate(720deg);
    -ms-transform: rotate(762deg);
    -webkit-transform: rotate(720deg);
}

.triangle10{
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 80px solid #555;
    border-bottom: 55px solid transparent;
    grid-row: 2 / 3;
    grid-column: 1/ 3;
    position: relative;
    left: 429px;
    bottom: 80px;
}
.triangle10:hover{
    border-right: 80px solid #FFA500;
    transform: rotate(720deg);
    -ms-transform: rotate(762deg);
    -webkit-transform: rotate(720deg);
}


.rectangle1{
    height: 86px;
    width: 312px;
    background-color: #d1bea8;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    left: 119;
}
.rectangle1:hover{
    background-color: violet;
    transform: rotate(720deg);
    -ms-transform: rotate(762deg);
    -webkit-transform: rotate(720deg);
}

.triangle11{
    width: 150px;
    height: 0;
    border-top: 56px solid transparent;
    border-left: 79px solid #d1bea8;
    border-bottom: 30px solid transparent;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    left: 431px;
    top: 0px;
}
.triangle11:hover{
    border-left: 79px solid #00FF7F;
    transform: rotate(720deg);
    -ms-transform: rotate(762deg);
    -webkit-transform: rotate(720deg);
}

.triangle12{
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 312px solid #d1bea8;
    border-bottom: 120px solid transparent;
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
    left: 119px;
    top: 6px;
}

.triangle12:hover{
    transform: rotate(720deg);
    -ms-transform: rotate(762deg);
    -webkit-transform: rotate(720deg);
    border-left: 312px solid green;
}


.triangle13{
    width: 0;
    height: 0;
    border-top: 115px solid transparent;
    border-left: 387px solid gray;
    border-bottom: 0px solid transparent;
    grid-column: 1/2;
    grid-row: 4;
    position: relative;
    left: 119px;
    bottom: 35px;
}



